@import url(./__bold/intro-text__bold.css);

.intro-text {
  max-width: 383px;
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  padding: 0;

  color: #ffffff;
}

li {
  list-style-type: none;
}

@media screen and (min-width: 375px) and (max-width: 767px) {
  .intro-text {
    font-size: 12px;
    line-height: 19px;
  }
}

@media screen and (min-width: 320px) and (max-width: 374px) {
  .intro-text {
    font-size: 12px;
    line-height: 19px;
  }
}
