.container__item {
  position: absolute;
  max-width: 583px;
  left: 30px;
  bottom: 30px;
  z-index: 3;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .container__item {
    left: 10px;
    bottom: 5px;
    height: 180px;
  }
}

@media screen and (min-width: 375px) and (max-width: 767px) {
  .container__item {
    left: 12px;
    bottom: 0px;
  }
}

@media screen and (min-width: 320px) and (max-width: 374px) {
  .container__item {
    left: 12px;
    bottom: 0px;
    width: 288px;
  }
}
